
/* for the enter page */

#entercolor{
background-color: #C0D6D0;


}
.entrance {
   margin-left: 500px;
   margin-right: 500px; 
   margin-top: 250px;
}

#clicktoenter{
	
	margin-left: 15%;
}
/*
.mainprojects{
	border-bottom: 1px solid #000;



}*/





nav bar

.mainp{
margin:auto;
position: fixed;
background-color: #C0D6D0;
display: block;
top: 0; 
left: 0; 
right: 0; 
z-index: 1;
}
/*  navbar  */
.mainp li {
	display: inline-block;
	/*border-top: 7px solid black;*/
	color: solid black 10;
	margin-left: 90px;
	/*top:50%;*/
    left:35px;
}
/*  nav bar linkar id="mainpro">   */
.mainp a {
	text-decoration:none;
	/*margin-top: -40;
	margin-left: 100px;*/
	color: black;
}
/*  on hover nav bar links id="mainpro">   */
.mainp a:hover{
	color: grey;
}


/* Home link Eleni nav bar link id="mainpro" class home> */
.home {
	font-size: 40px;
	text-decoration:none;
	color: black;
}

/* making navigation with line under */
.active{
	border-bottom: 3px solid #000;
}















/*  fyrir lista af myndum sem syna theatre project    */
.content{
	margin-top: 100px;
	margin-left: 120px;
	display: inline-block;
	/*vertical-align: top;*/
	position: inherit; 
   
}
.content h3 a {
	height: 100px; 
	width: 200px; 
	overflow: hidden;


}


/*fadein text */
.h3 {
	margin-top: 110px;
	margin-left: 50px;
	position: absolute; 
   	font-size: 40px;
   	color: solid black;
   	/*background: rgb(0, 0, 0); /* fallback color 
   	background: rgba(0, 0, 0, 0.7);*/
   	display: none;
}
.contenttitle{
	margin-top: 50px;
	margin-left: 11px;
	display: inline-block;

}

.img{
	height:100px
    width:auto;/*maintain aspect ratio*/
    max-width:400px;
    z-index: -1;
}

.highlight{
	z-index: -1;
	height:70px
    width:auto;/*maintain aspect ratio*/
    max-width:200px;
    filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: blur(50px);
	filter: gray;
	-webkit-filter: grayscale(1) blur(1px);
}

#introtext{
	display: inline-block;
	position: absolute;
	top: 160px;
	left: 105px;
}

.hide {
    display: none;
}