{% extends "base.html" %}
{% load staticfiles %}


{% block about %}
<link href="/static/css/nav_bar_about.css" rel="stylesheet" media="screen">
<div class="content" id="about_container">
  	<img id="about_img"  src="{{ about.photo.url }}"/>
  	<h2 id="about_h2_text">Eleni Podara (<span>Ελένη Ποδάρα</span>)</h2>
  	<div id="text">
		<p> Eleni was born and raised in Patras (GR).
		She holds an MA in Architecture from the National Technical University of Athens (GR) and an MA in Stage Design from the Theatre Department of the Academy of Performing Arts in Prague (CZ).
		</p>
		<br>
		<p> Eleni is a theatre artist. She translates characters, ideas and symbolisms into spatial installations and costumes.
		The main focus of her work is to support dramatic situations through the manipulation of materials and shapes. </p>
        <br>
		<p>Her diverse background and education has led to her involvement in projects that span the spectrum of the performing arts.
		Previous positions have included Stage and Costume Designer in performances, Art Director in Short films, music videos, and TV shows.
		In Dec 2013 and Jan 2014 she was resident artist at Samband Íslenskra Myndlistarmanna(IS).</p>
		<br>
		<p>One of the mediums that fascinates is analogue photography, thus she keeps a personal diary of polaroids.</p>
        <br>
		<p>Eleni lived in Athens, Stockholm, and Prague and she is currently based in Reykjavik, Iceland.</p>
	</div>





 </div>



{% endblock %}
